# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
mapmarkers-web/dist
mapmarkers-web/tmp
mapmarkers-web/out-tsc

# dependencies
mapmarkers-web/node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
mapmarkers-web/.sass-cache
mapmarkers-web/connect.lock
mapmarkers-web/coverage
mapmarkers-web/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
mapmarkers-web/typings

# System Files
.DS_Store
Thumbs.db
